<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="perfil.css">
    <title>Document</title>
</head>
<body>
    <header class="cabecalho">
        <img class="cabecalho-imagem" src="inicial.svg" alt="Logo da rede social">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="#">Home</a>
            <a class="cabecalho-menu-item" href="#">Configurações</a>
            <a class="cabecalho-menu-item" href="#">Meu Perfil</a>
        </nav>
    </header>

    <main class="main">

        <div class="profile">
            <div class="profile-info">
                <img src="caminho_para_sua_foto_de_perfil.jpg" alt="Minha Foto de Perfil">
                <div class="stats">
                    <p><strong>Seguidores:</strong> 1000</p>
                    <p><strong>Seguindo:</strong> 500</p>
                </div>
            </div>
        </div>
    
        <div class="publications">
            <h2>Minhas Publicações</h2>
            <div class="post">
                <p>Conteúdo da primeira publicação...</p>
            </div>
            <div class="post">
                <p>Conteúdo da segunda publicação...</p>
            </div>
            <!-- Adicione mais publicações conforme necessário -->
        </div>

    </main>

    
</body>
</html>