{% extends 'base.html' %}
{% load static %}

{% block 'cabecalho' %}
    <link rel="stylesheet" href="{% static 'perfil/css/perfil.css' %}">
{% endblock %}

{% block 'conteudo' %}

    <header class="cabecalho">
        <img class="cabecalho-imagem" src="{% static 'perfil/img/inicial.svg' %}" alt="Logo da rede social">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="{% url 'home' %}">Home</a>
            <a class="cabecalho-menu-item" href="#">Configurações</a>
            <a class="cabecalho-menu-item" href="{% url 'renderizar_perfil' %}">Meu Perfil</a>
        </nav>
    </header>

    <main class="main">

        <div class="profile">
            <div class="profile-info">
                <img src="https://avatars.githubusercontent.com/u/128612140?v=4" alt="Minha Foto de Perfil">
                <div class="stats">
                    <p><strong>Seguidores:</strong>{{ seguidores }}</p>
                    <p><strong>Seguindo:</strong>{{ seguindo }}</p>
                    <button>Seguir</button>
                </div>
            </div>
        </div>
    
        <ul class="posts">
            {% for publicacao in publicacoes %}
            <li class="post">
                <div class="infoUserPost">
                    <div class="imgUserPost"></div>

                    <div class="nameAndHour">
                        <strong>{{ request.user.username }}</strong>
                        <p>{{ publicacao.data_publicacao }}</p>
                    </div>
                </div>

                <p>{{ publicacao.conteudo }}</p>

                <div class="actionBtnPost">
                    <button type="button" class="filesPost like"><img src="{% static 'perfil/img/heart.svg' %}" alt="Curtir">Curtir</button>
                    <a class="filesPost comment" href="{% url 'comentarios' publicacao.id %}">
                        <img src="{% static 'home/img/comment.svg' %}" alt="">
                        Comentar
                    </a>
                
                    <button type="button" class="filesPost share"><img src="{% static 'home/img/share.svg' %}" alt="Compartilhar">Compartilhar</button>
                </div>

            </li>
            {% endfor %}
        </ul>

    </main>

    {% endblock %}