<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/geral/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Rede Social</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>LinkUp</h1>
            <nav>
                <a href="#">Cadastre-se</a>
                <a href="#">Login</a>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container">
            <div class="content">
                <div class="image-container">
                    <img src="static/geral/img/inicial.svg">
                </div>
                <div class="description">
                    <h2>Bem-vindo à LinkUp</h2>
                    <p>Aqui você pode se conectar com amigos, familiares e colegas. Compartilhe momentos especiais, converse em tempo real e explore tudo o que nossa rede tem a oferecer.</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>